@charset "utf-8";
/* CSS Document */

#header{
	width: auto;
	height: 200px;
	background: #000000;
}

#title{
	shape-inside: circle();
	color: yellow;
	padding: 50px;
	font-size: 60px;
	text-align: center;
	
}
#hari{
	float: left;
	color: aliceblue;
}

#data{
	background-color: #1BFF0A;
	width: auto;
	height: 700px;
	align-content: center;
	align-items: center;
}

#datatext{
	padding: 10px;
	color: blue;
	font-size: 30px;
}

button{
	width: 50%;
	height: 100px;
	background-color: blue;
	padding: 10px;
	border: solid;
	border-color: aliceblue;
	align-content: center;
	float: left;
	
}
a{
	padding: 10px;
	color: aliceblue;
	font-size: 50px;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

button:hover{
	background:  #1BFF0A;
	transition-duration: 1s;
}

img{
	padding: 10px;
	width: 100%;
	height: auto;
}




